<h1>GET Current Weather:</h1>

<form class="" action="/current_weather" method="get">
  <label for="city">Search by city and state</label>
  <input id="city" type="text" name="city" placeholder="city">
  <input type="text" name="state" placeholder="state">
  <input type="submit">
</form>
<p>Or...</p>
<form class="" action="/current_weather" method="get">
  <label for="zip">Search by zip</label>
  <input id="zip" type="text" name="zip" placeholder="zip">
  <input type="submit">
</form>

<h1>GET Weather Forecast</h1>

<form class="" action="/forecast" method="get">
  <label for="zip">Search by zip</label>
  <input id="zip" type="text" name="zip" placeholder="zip">
  <input type="submit">
</form>
